h3 {  
	color: royalblue;
}

.Desc {
	color: cyan;
	font-style: italic;
}

h1 {
	font-family: Arial;
{
	
.gauche {
  text-align: left;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}
